{%extends 'index.html'%}

{%block 'titulo' %}sai daqui {%endblock%}
{%block 'conteudo' %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquam doloribus, id provident, tempora beatae culpa omnis numquam, ullam quas quae mollitia a? Quos tenetur eaque iusto eligendi, doloribus quas.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis nostrum incidunt dolor laborum corporis sit ratione nobis esse nulla sunt alias, voluptate dicta sequi eum autem odio tempore aliquid ea!
{%endblock%}